*
{
    font-family: 'Poppins', sans-serif
}

.nav-color a
{
    color:white;
    text-decoration: none;
}

.nav-color
{
    color: white;
}
.button-background
{background: rgba(255, 255, 255, 0.11);}

.loop-background
{
    background: #1C140F;
}
.section-inner-bg{
    background-color: #B000DC1C;
}